<h3 class="text-info">{{title}}</h3>
{{!-- add navigaion to add a new book--}}
{{#if user}}
<a href="/books/add">Add a new list</a>
{{/if}}
{{!-- add a table to display books from MongoDB--}}
<table class="table table-striped table-hover">
  <thead>
    <th>Book Title</th>
    <th>Author</th>
    <th>Genre</th>
    <th>Reading Day</th>
    <th>Review</th>
    <th></th>
  </thead>
  <tbody>
    {{#each dataset}}
    <tr>
      <td>{{this.booktitle}}</td>
      <td>{{this.author}}</td>
      <td>{{this.genre}}</td>
      <td>{{toShortDate this.readingday}}</td>
      <td>{{this.review}}</td>
      <td>
        {{#if ../user}}
        <a href="/books/edit/{{this._id}}" class="btn btn-outline-primary btn-sm">Edit</a>
        <a href="/books/delete/{{this._id}}" class="btn btn-outline-danger btn-sm"
          onclick="confirmDeletion()">Delete</a>
        {{/if}}
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
<div class="container" align="right">
  <img src="/images/list.png" class="rounded" alt="list" height="100">
</div>